<!DOCTYPE html>
<html lang="zh">
<head>
    <meta charset="UTF-8">
    <title>订单详情</title>
</head>
<body>
    <h1>订单详情</h1>
    <p>订单编号: {{ .OrderID }}</p>
    <p>订单名称: {{ .OrderName }}</p>
    <p>客户编号: {{ .UserID }}</p>
    <p>订单金额: {{ .Amount }}</p>
</body>
</html>
