<configuration>

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <!-- 输出日志到控制台 -->
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <!-- 设置根日志级别为 DEBUG，这样 debug 也会打印 -->
    <root level="INFO">
        <appender-ref ref="STDOUT" />
    </root>

</configuration>
